@tailwind base;
@tailwind components;
@tailwind utilities;

/*Navbar*/
.hideNav {
  display: none;
}

.showNav {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(246, 230, 209);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/*Navbar*/

.truncated-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
